
body {
  font-family: 'Teko', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Teko', sans-serif;
}

p {
  font-family: 'DM Sans', sans-serif;
  color: #41444B;
}

/* Headings */

.big-heading {
  font-family: 'Anton', sans-serif;
  letter-spacing: 3px;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #D5C455;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  color: #41444B;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'DM Sans', sans-serif;
}


/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
  letter-spacing: 2px;
  font-family: 'DM Sans', sans-serif;
}

/* Title Section */

#title {
  background-color: #D5C455;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 80%;
  transform: rotate(0deg);
  position: absolute;
  right: 0.01%;
}

.title-image-logo {
  width: 70%;
  transform: rotate(0deg);
  position: absolute;
  right: 10%;
}
/* Features Section */

#features {
  position: relative;
}

#features .row {
  font-family: 'DM Sans', sans-serif;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #FDDB3A;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #D5C455;
}

/* Testimonial Section */

#testimonials {
  background-color: #D5C455;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#press {
  background-color: #D5C455;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */

.emailphone-Row{
  color: #ffffff;
  float: left;
  width: 25%;
  margin: 50px 50px 0px 200px;
  text-align: left;
}

.email-Row {
  margin-bottom: 50px;
}

.phone-Row {
  margin-top: 50px;
}

.i{
  float:left;
  margin-right: 10px;
}

.emailphone-Row p{
  color: #ffffff;
}

.facebooktwitter-Row{
  color: #ffffff;
  float: left;
  width: 25%;
  margin: 50px 50px 100px 200px;
  text-align: left;
}

.facebook-Row {
  margin-bottom: 50px;
}

.twitter-Row {
  margin-top: 50px;
}

.i{
  float:left;
  margin-right: 10px;
}

.facebooktwitter-Row p{
  color: #ffffff;
}

/* Footer Section */

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}


/* About Us */

.description {
  font-size: 130%;
  text-align: justify;
}

.title-image-logo{
  margin-left: auto;
  position: static;
}

.member-icon-lead {
  width: 20%;
}

.member-icon {
  width: 50%;
}


.feature-title {
  margin-top: 20px;
}
